<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video</title>
    <link rel="shortcut icon" href="../icon/caja2.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/generales.css">
</head>

<body>

    <header class="header">
        <div class="container">
            <div class="btn-menu">
                <label for="btn-menu">☰</label>
            </div>
            <div class="logo">
                <a href="../index.html">
                    <h1>Mystycrate</h1>
                </a>
            </div>
            <nav class="menu">
                <a href="../index.html">Inicio</a>
                <a href="informacion.html">Nosotros</a>
                <a href="login.html">Iniciar sesion</a>
            </nav>
        </div>
    </header>

    <main>
        <div class="capa"></div>
        <input type="checkbox" id="btn-menu" />
        <div class="container-menu">
            <div class="cont-menu">
                <nav>
                    <a href="inventario.html">Inventario</a>
                    <a href="perfil.html">Perfil</a>
                    <a href="suscripciones.html">Suscripciones</a>
                    <a href="video.html">Video sobre la pagina</a>
                    <a href="">Cerrar sesion</a>
                </nav>
                <label for="btn-menu">✖️</label>
            </div>
        </div>
        
    </main>

    <footer>
        <section class="footer">
            <h2><i><b>Mystycrate © 2024</b></i> all rights reserved</h2>
            <div class="social-icons">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-solid fa-envelope"></i>
            </div>
        </section>
    </footer>

    <script src="https://kit.fontawesome.com/003123b854.js" crossorigin="anonymous"></script>
</body>

</html>