<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suscripciones</title>
    <link rel="stylesheet" href="/css/generales.css">
    <link rel="stylesheet" href="/css/suscripciones.css">
</head>

<body>

    <header class="header">
        <div class="container">
            <div class="btn-menu">
                <label for="btn-menu">☰</label>
            </div>
            <div class="logo">
                <a href="../index.html">
                    <h1>Mystycrate</h1>
                </a>
            </div>
            <nav class="menu">
                <a href="../index.html">Inicio</a>
                <a href="informacion.html">Nosotros</a>
                <a href="login.html">Iniciar sesion</a>
            </nav>
        </div>
    </header>

    <main>
        <div class="capa"></div>
        <input type="checkbox" id="btn-menu" />
        <div class="container-menu">
            <div class="cont-menu">
                <nav>
                    <a href="inventario.html">Inventario</a>
                    <a href="perfil.html">Perfil</a>
                    <a href="suscripciones.html">Suscripciones</a>
                    <a href="video.html">Video sobre la pagina</a>
                    <a href="">Cerrar sesion</a>
                </nav>
                <label for="btn-menu">✖️</label>
            </div>
        </div>

        <div>

        </div>

        <section class="contenido">
            <div class="mostrador" id="mostrador">
                <div class="fila">
                    <div class="item" onclick="cargar(this)">
                        <div class="contenedor-foto">
                            <img src="img/1.png" alt="">
                        </div>
                        <p class="descripcion">Titulo</p>
                        <span class="precio">$ 1.800</span>
                    </div>
                    <div class="item" onclick="cargar(this)">
                        <div class="contenedor-foto">
                            <img src="img/2.png" alt="">
                        </div>
                        <p class="descripcion" id>Titulo</p>
                        <span class="precio">$ 1.700</span>
                    </div>
                    <div class="item" onclick="cargar(this)">
                        <div class="contenedor-foto">
                            <img src="img/3.png" alt="">
                        </div>
                        <p class="descripcion">Titulo</p>
                        <span class="precio">$ 1.600</span>
                    </div>
                    <div class="item" onclick="cargar(this)">
                        <div class="contenedor-foto">
                            <img src="/img/fondo.jpeg" alt="">
                        </div>
                        <p class="descripcion">Titulo</p>
                        <span class="precio">$ 1.500</span>
                    </div>
                </div>
                <div class="fila">
                    <div class="item" onclick="cargar(this)">
                        <div class="contenedor-foto">
                            <img src="img/5.png" alt="">
                        </div>
                        <p class="descripcion">Titulo</p>
                        <span class="precio">$ 1.400</span>
                    </div>
                    <div class="item" onclick="cargar(this)">
                        <div class="contenedor-foto">
                            <img src="img/6.png" alt="">
                        </div>
                        <p class="descripcion">Titulo</p>
                        <span class="precio">$ 1.300</span>
                    </div>
                    <div class="item" onclick="cargar(this)">
                        <div class="contenedor-foto">
                            <img src="img/7.png" alt="">
                        </div>
                        <p class="descripcion">Titulo</p>
                        <span class="precio">$ 1.200</span>
                    </div>
                    <div class="item" onclick="cargar(this)">
                        <div class="contenedor-foto">
                            <img src="img/8.png" alt="">
                        </div>
                        <p class="descripcion">Titulo</p>
                        <span class="precio">$ 1.100</span>
                    </div>
                </div>
            </div>
            <!-- CONTENEDOR DEL ITEM SELECCIONADO -->
            <div class="seleccion" id="seleccion">
                <div class="cerrar" onclick="cerrar()">
                    &#x2715
                </div>
                <div class="info">
                    <img src="img/1.png" alt="" id="img">
                    <h2 id="modelo">Titulo</h2>
                    <p id="descripcion">Descripción</p>

                    <span class="precio" id="precio">$ 1.000</span>

                    <form method="post">
                        <button type="submit">Suscribirme</button>
                    </form>
                    
                </div>
            </div>
        </section>



    </main>

    <footer>
        <section class="footer">
            <h2><i><b>Mystycrate © 2024</b></i> all rights reserved</h2>
            <div class="social-icons">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-solid fa-envelope"></i>
            </div>
        </section>
    </footer>
    <script src="/js/categorias.js"></script>
    <script src="https://kit.fontawesome.com/003123b854.js" crossorigin="anonymous"></script>
</body>

</html>